<div *ngIf="user" class="profile-container">

  <img src="https://img.a.transfermarkt.technology/portrait/big/238055-1727356372.png?lm=1"
       alt="Profil Fotoğrafı"
       width="120"
       height="150"
       style="border-radius: 70%; display: block; margin: 0 auto 1.5rem;" />
  <a routerLink="/" style="display: inline-block; margin-bottom: 1rem; color: #007bff; text-decoration: none;">← Ana Sayfaya Dön</a>

  <h1>{{ user.fullName }}</h1>
  <p>{{ user.jobTitle }} &#64; {{ user.company }}</p>
  <p>Email: <a [href]="'mailto:' + user.email">{{ user.email }}</a></p>
  <p>Telefon: <a [href]="'tel:' + user.phoneNumber">{{ user.phoneNumber }}</a></p>
  <p>WhatsApp: <a [href]="user.whatsappLink" target="_blank">Mesaj Gönder</a></p>
  <p>Konum: <a [href]="user.locationLink" target="_blank">Haritada Göster</a></p>
  <p>IBAN: {{ user.iban }}</p>
  <p>LinkedIn: <a [href]="user.linkedin" target="_blank">Profili Aç</a></p>
</div>

<div *ngIf="!user">
  <p>Profil bulunamadı.</p>
</div>
