bin/
obj/
**/node_modules
**/dist
**/.angular
*.user
*.csproj.user
*.pdb
*.log
wwwroot/profile-photos/*
Frontend/.env.local
Frontend/.env
Dockerfile.frontend
Dockerfile
.git
.gitignore
Frontend/.angular/cache
Frontend/coverage
**/*.md
